{% extends "base.html.twig" %}

{% block body %}
<section>
    <h1>température de Christian</h1>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        
        {% for data in result %}
        <div class="comment">
        le{{data.createdAt | date("d/m/Y")}} à {{data.createdAt | date("H:i")}}, 
        {% if data.temperature >= 40 %}
            <span style="color:red">{{data.temperature}}°C</span>
        {% elseif data.temperature <= 35.5 %}
            <span style="color: blue">{{data.temperature}}°C</span>
        {% else %} 
            <span>{{data.temperature}}°C</span>  
        {% endif %}
        de température.
        </div>
        {% endfor %}
       
    </div>
</section>

{% endblock %}